name: MakeXRSYS
run-name: Make XRSYS ${{ inputs.target }}${{ inputs.fulldrv == true && ' - Full Drivers' || ' - Lite Drivers' }}${{ inputs.latest == true && ' - Latest' || '' }}
on:
  workflow_dispatch:
    inputs:
      target:
        description: "Target OS Version"
        required: true
        type: choice
        options:
          - w1126h1a64
          - w1126h164
          - w1125h2a64
          - w1125h264
          - w1123h2a64
          - w1123h264
          - w1022h264
          - w11lt24a64
          - w11lt2464
          - w10lt2164
          - w10lt1964
          - w10lt1664
          - w7ult64
      fulldrv:
        description: "Add Full Drivers"
        required: false
        default: false
        type: boolean
      latest:
        description: "As Latest"
        required: false
        default: false
        type: boolean

jobs:
  makexrsys:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get rclone Config
        uses: actions/checkout@v4
        with:
          repository: xrgzs/rclone-action
          token: ${{ secrets.RCLONE_TOKEN }}
          path: bin

      - name: Big Task
        shell: pwsh
        run: |
          .\makexrsys.ps1 -Target "${{ inputs.target }}" ${{ inputs.fulldrv == true && '-FullDrv' || '' }} ${{ inputs.latest == true && '-Latest' || '' }}
