name: AutoMakeXRSYS
on:
  workflow_dispatch:
  schedule:
    # - cron: '0 0 * * *' #nightly
    - cron: '0 0 * * 5' #weekly

jobs:
  makexrsys:
    runs-on: windows-latest
    name: ${{ matrix.target }}${{ matrix.fulldrv == true && '-fulldrv' || '' }}
    strategy:
      fail-fast: false
      matrix:
        target: 
          # - w1125h2a64
          - w1125h264
          # - w1123h2a64
          - w1123h264
          - w1022h264
          # - w11lt24a64
          - w11lt2464
          - w10lt2164
          - w10lt1964
          - w10lt1664
          - w7ult64
        fulldrv: 
          - true
          - false
        # no arm64 fulldrv
        exclude:
          - target: w1125h2a64
            fulldrv: true
          - target: w1123h2a64
            fulldrv: true
          - target: w11lt24a64
            fulldrv: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get rclone Config
        uses: actions/checkout@v4
        with:
          repository: xrgzs/rclone-action
          token: ${{ secrets.RCLONE_TOKEN }}
          path: bin

      - name: Change DNS Server
        shell: pwsh
        run: |
          $newDnsServers = @('1.1.1.1', '8.8.8.8')
          $networkAdapters = Get-NetAdapter | Where-Object { $_.Status -eq 'Up' }
          foreach ($adapter in $networkAdapters) {
              Set-DnsClientServerAddress -InterfaceIndex $adapter.ifIndex -ResetServerAddresses
              Set-DnsClientServerAddress -InterfaceIndex $adapter.ifIndex -ServerAddresses $newDnsServers
          }
          ipconfig /flushdns

      - name: Big Task
        shell: pwsh
        run: |
          .\makexrsys.ps1 -Target "${{ matrix.target }}" -Latest ${{ matrix.fulldrv == true && '-FullDrv' || '' }}
